<h1>All Wiki's</h1>

<div class="row">
  <div class="col-md-8">
    <% @articles.each do |article| %>
     <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to article.title, topic_article_url(@topic, article) %>
        </h4>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= link_to "View Topics", topics_path(@topic), class: 'btn btn-primary' %>
<%= link_to "Homepage", root_path, class: 'btn btn-primary' %>

