<html>
  <head>
    <title>PDF Example</title>
  </head>
  <body>
    <h1>Wiki</h1>
    <table width="100%">
      <tr style="font-weight:bold;">
        <td>Title</td>
        <td>Description</td>
      </tr>
        <tr>
          <td>
            <%= @article.title %>
          </td>
          <td>
            <%= @article.body%>
          </td>
        </tr>
    </table>
  </body>
</html>
