<html>
  <head>
    <title>PDF Example</title>
  </head>
  <body>
    <h1><%= @article.title %></h1>
    <table width="100%">
      <tr style="font-weight:bold;">
      </tr>
        <tr>
          <td>
            <%= @article.body%>
          </td>
        </tr>
    </table>
  </body>
</html>
