// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.well {
  color:black;
  margin-left: 580px;
  margin-top: 20px;
}

.textarea{
  margin-right:4arti00px;
  width:60%;
}