// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



textarea{
  width: 422%;
  margin-top: 60px;
  margin-left: -664px;
  resize: none;
}

.btn,
.btn-primary{
  margin-top: 300px;
}

.title {
  margin-left: -662px;
}

#label{
  margin-left: -820px;
  margin-top: 20px;
}

.body {
  margin-left: -662px;
}

h1{
  background-color:#191919;
}

h3 {
  color:white;
}

.form-control {
  margin-left: -400px;
}

