// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#topic-btn {
  margin-top: 200px;
  margin-left: 8px;
}

#topic-article{
  margin-top: -400px;
}

.btn,
.btn-primary {
  margin-right: 200px;
}

p {
  margin-top: 68px;
  margin-left: 200px;
}