// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-danger{
  margin-left: 400px;
}

form{
  margin-top: 30px;
  margin-right: -100px;
}

.form-group{
  margin-right: 40px;
}

.form-control{
  margin-left: 1px;
}

h1 {
  color: white;
  background-color: #191919;
}

