// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #191919;
  position: relative;
}

.jumbotron {
  background-color:white;
  position: relative;

}

.jumbotron, h2, p {
  text-align: center;
  }

.col-md-4 {
  margin-left: 150px;
}


a,
.btn,
.btn-primary,
.btn-large {
   text-align:center;
   margin-right: 420px;
   margin-top: 40px;
}

.SignIn{
  margin-left: 698px;
  margin-top: -240px;

  position: absolute;
}

h1 {
  color:white;
}

h2 {
  color:white;
}

p {
  color:white;
  margin-right: 120px;
}

.btn,
.btn-primary,
.btn-large{
  margin-left: 450px;
}


.btn-warning,
 {
  margin-top: -180px;
  margin-left: 648px;
  position:relative;
}
