// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #191919;
}

.jumbotron {
  background-color:white;
  position: relative;
}

.jumbotron, h2, p {
  text-align: center;
  }

.col-md-4 {
  margin-left: 150px;
}

a,
.btn,
.btn-primary,
.btn-large {
   text-align:center;
   margin-right: 680px;
   margin-top: 40px;
}

.SignIn{
  margin-left: 710px;
  margin-top: -300px;

  position: absolute;
}

h1 {
  color:white;
}

h2 {
  color:white;
}

p {
  color:white;
  margin-right: 100px;
}

.jumbtron,
.btn,
btn-primary {
  margin-right: 540px;
}


.btn-warning,
 {
  margin-top: -60px;
}
